h1 {
  color: #FDFF06;
    font-size: 20px;
    font-family: sans-serif
}

a {
    color:dodgerblue
}
div {
    margin-top: 10px;
}

#page-wrap {
    background-color: #707070;
    padding: 10px;
}
#icon {
  padding-left:300px;
  padding-right:20px
}
#icon2 {
  padding-right:15px;
}
