h1 {
  color: #FDFF06;
    font-size: 20px;
    font-family: sans-serif
}

a {
    color:black;
}
div {
    margin-top: 10px;
}

#page-wrap {
    background-color: #707070;
    padding: 10px;
}
#icon {
  padding-left:300px;
  padding-right:20px
}
#banner {
  height:100px;
  width:500px;
}
.button {
   border: 0px solid #707070;
   background: #707070;
   background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#707070));
   background: -webkit-linear-gradient(top, #707070, #707070);
   background: -moz-linear-gradient(top, #707070, #707070);
   background: -ms-linear-gradient(top, #707070, #707070);
   background: -o-linear-gradient(top, #707070, #707070);
   background-image: -ms-linear-gradient(top, #707070 0%, #707070 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 0px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 0px solid #707070;
   background: #707070;
   background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#3e779d));
   background: -webkit-linear-gradient(top, #707070, #707070);
   background: -moz-linear-gradient(top, #707070, #707070);
   background: -ms-linear-gradient(top, #707070, #707070);
   background: -o-linear-gradient(top, #707070, #707070);
   background-image: -ms-linear-gradient(top, #707070 0%, #707070 100%);
   color: #ffff06;
   }


