h1 {
  color: #FDFF06;
    font-size: 20px;
    font-family: sans-serif
}

a {
    color:dodgerblue
}
div {
    margin-top: 10px;
}

#page-wrap {
    background-color: #707070;
    padding: 10px;
}
#icon {
  padding-left:300px;
  padding-right:20px
}
#banner {
  height:100px;
  width:500px;
}


.button {
	display: block;
	height: 100px;
	width: 300px;
	background: #707070;
	border: 2px solid rgba(33, 68, 72, 0.59);
}
1
2
3
4
5
6
7
.button {
 display: block;
 height: 100px;
 width: 300px;
 background: #34696f;
 border: 2px solid rgba(33, 68, 72, 0.59);
}
