h1 {
  color: ghostwhite;
    font-size: 20px;
    font-family: sans-serif
}

a {
    color:dodgerblue
}
div {
    margin-top: 10px;
}

#page-wrap {
    background-color: darkgrey;
    padding: 10px;
}
#icon {
  padding-left:300px;
}
